doctype xml
rss(version='2.0', xmlns:itunes='http://www.itunes.com/dtds/podcast-1.0.dtd')
    channel
        title #{feed.feedId} Videos
        link= feed.toUrl()
        description Placeholder
        each video in feed.videos
            - var format = video.formatWithMaxHeight(720)
            item
                title= video.title
                itunes:image(href=video.image)
                description= video.description
                itunes:summary= video.description
                enclosure(
                    url= videoUrl(video)
                    type='video/mp4'
                    length=format.size
                )

                pubDate= video.uploadDate.toUTCString()

