extends layout

block content
    h1= Feeds
    form(method='POST', action='/add_feed')
        input(type='text' name='url')
        button(type='submit') Add Feed
    table
        thead
            th Feed ID
            th Site
            th Feed Type
            th Videos
            th Last Scanned
            th Links
        each feed in user.feeds
            tr
                td= feed.feedId
                td= feed.site
                td= feed.feedType
                td= feed.videos.length
                if feed.lastScannedAt > 0
                    td= feed.lastScannedAt
                else
                    td Never
                td
                    a(href='/api/feeds/#{feed.id}/refresh') Refresh
                    a(href='/feed/#{feed.id}') Feed
